# Exercise 3 - Data structures,  Flow Control, Functions & Basic Types

## Objective

In this guided task you`will:
* Perform various operations on lists and strings.
* Perform operations related to tuples, dictionaries and sets.
* Use conditional if…elif control flow statements in Python.
* Work with iteration to control flow, using while statements in Python.
* Work with iteration to control flow, using for loops in Python.
* Define and call functions.
* Perform operations related to reading, processing and writing files.

## Data Structures

### Part 1: Lists

In [2]:
ages = [12,18,33,84,45,67,12,82,95,16,10,23,43,29,40,34,30,16,44,69,70,74,38,65,36,83,50,11,79,64,78,37,3,8,68,22,4,60,33,82,45,23,5,18,28,99,17,81,14,88,50,19,59,7,44,93,35,72,25,63,11,69,11,76,10,60,30,14,21,82,47,6,21,88,46,78,92,48,36,28,51]

Record the length of the ages list in a variable.
<br>
Display the length.

In [4]:
age_length = len(ages)
print(age_length)

81

Display the first and the last element of the ages list.

In [5]:
print(ages[0])
print(ages[-1])

12
51

Find the ages from the third to the last.

In [6]:
print(ages[3:])

[84, 45, 67, 12, 82, 95, 16, 10, 23, 43, 29, 40, 34, 30, 16, 44, 69, 70, 74, 38, 65, 36, 83, 50, 11, 79, 64, 78, 37, 3, 8, 68, 22, 4, 60, 33, 82, 45, 23, 5, 18, 28, 99, 17, 81, 14, 88, 50, 19, 59, 7, 44, 93, 35, 72, 25, 63, 11, 69, 11, 76, 10, 60, 30, 14, 21, 82, 47, 6, 21, 88, 46, 78, 92, 48, 36, 28, 51]

Show the first 10 ages backwards.

In [8]:
print(ages[10::-1])

[10, 16, 95, 82, 12, 67, 45, 84, 33, 18, 12]

Display the first 10 ages one on each line:
__Tip:__ Use a __for__ loop to read each number.

In [10]:
for age in ages[:10]:
    print(age)

12
18
33
84
45
67
12
82
95
16

In [13]:
# a list of odd numbers
odd = [1,3,5,7,9,11,15,17,19,21]

Spot the missing value in the list of odd numbers and insert it.

In [14]:
odd.insert(6, 13)
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]

### Part 2: Strings

In [15]:
# a greeting
greeting = 'Hello'

Spell the greeting backwards

In [16]:
greeting[::-1]

'olleH'

In [17]:
UK = 'UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND'

Spell the name of the UK observing which letters should be capital and which lowercase.

In [18]:
UK.title()

'United Kingdom Of Great Britain And Northern Ireland'

In [19]:
# from "Fare thee well", George Gordon Byron
byron = 'Fare thee well and if forever still forever fare thee well'

Find the position of the first occurence of the word 'forever'

In [20]:
byron.find('forever')

22

### Part 3: Tuples

Create a tuple with your favourite desserts (at least 3 of them!).

In [21]:
desserts = 'sticky toffee pudding', 'affogato', 'syrup sponge'

Print the number of your favourite desserts.

In [22]:
print(len(desserts))

3

Print the second of the desserts.

In [23]:
desserts[1]

'affogato'

Print the last of the desserts.

In [25]:
# And no, this will not work. Why? Try to mend it and also try another way
#print(desserts[len(desserts)])
print(desserts[len(desserts) - 1])

syrup sponge

In [27]:
# much simpler
desserts[-1]

'syrup sponge'

Print the first two desserts.

In [28]:
desserts[:2]

('sticky toffee pudding', 'affogato')

Check if pancakes are included in the desserts and print response in each case.

In [29]:
'pancakes' in desserts

False

Let's get more sophisticated. Write code to ask a customer for their dessert preference and respond depending on its availability.

In [30]:
user_dessert = input('What dessert do you want? ')

user_dessert in desserts

What dessert do you want?  cheese

False

Once a tuple is created, you cannot change its values. Tuples are immutable (unchangeable).
But there is a workaround! You can convert the tuple into a list, change the list, and convert the list back into a tuple.

Change the second dessert to something else.

In [31]:
desserts = list(desserts)
desserts[1] = 'creme brulee'
desserts = tuple(desserts)

How about appending to a tuple? This too cannot be done directly, since tuples are immutable. Going through a list conversion works here too.

Add another dessert to the list.

In [32]:
desserts = list(desserts)
desserts.append('cheesecake')
desserts = tuple(desserts)

Display all desserts, using for and while loops. You have to produce three different solutions.

In [33]:
print(desserts)

('sticky toffee pudding', 'creme brulee', 'syrup sponge', 'cheesecake')

In [34]:
for dessert in desserts:
    print(dessert)

sticky toffee pudding
creme brulee
syrup sponge
cheesecake

In [36]:
i = 0

while i < len(desserts):
    print(desserts[i])
    i+=1

sticky toffee pudding
creme brulee
syrup sponge
cheesecake

### Part 4: Dictionaries

Consider the following dictionary:

In [37]:
books = {
  "title": "Hamlet",
  "author": "William Shakespeare",
  "language": "English"
}

Print the title value.

In [38]:
books['title']

'Hamlet'

Get a list of the keys of the dictionary.

In [39]:
books.keys()

dict_keys(['title', 'author', 'language'])

Get a list of the values of the dictionary.

In [40]:
books.values()

dict_values(['Hamlet', 'William Shakespeare', 'English'])

Get a list of the key-value items.

In [41]:
books.items()

dict_items([('title', 'Hamlet'), ('author', 'William Shakespeare'), ('language', 'English')])

Change the title to 'King Lear' and check that the dictionary is updated.

In [42]:
books['title'] = 'King Lear'

In [43]:
books

{'title': 'King Lear', 'author': 'William Shakespeare', 'language': 'English'}

### Part 5: Sets

Create a set containing fruit.

In [49]:
fruits = {'banana', 'kiwi', 'orange'}

Add another fruit to the set and print it.

In [50]:
fruits.add('grapefruit')
print(fruits)

{'kiwi', 'banana', 'orange', 'grapefruit'}

Loop through the set of fruit and print each element.

In [52]:
for fruit in fruits:
    print(fruit)

kiwi
banana
orange
grapefruit

Consider the following sets.

In [53]:
s1 = {'A', 'B', 'C', 'D', 'E'}
s2 = {'D', 'E', 'F', 'G'}

Find and print set S3 which contains all elements belonging to either S1 and S2.

In [54]:
s3 = s1 | s2
s3

{'A', 'B', 'C', 'D', 'E', 'F', 'G'}

Find and print set S3 which contains the elements belonging to both S1 and S2.

In [55]:
s3 = s1 & s2
s3

{'D', 'E'}

Find and print set S3 which contains the elements that are in S1 but not S2.

In [56]:
s3 = s1 - s2
s3

{'A', 'B', 'C'}

Find and print set S3 which contains the elements that are in only one of S1 and S2 but not the other.

In [57]:
s3 = s1 ^ s2
s3

{'A', 'B', 'C', 'F', 'G'}

### Part 6: Selection

The general Python syntax for a simple if statement is:

if condition :
<br>
&emsp;indentedStatementBlock

Create an __IF statement__ to see if the person’s age is equal to 18 or over. 
<br>
Display 'You are in category A'

In [58]:
age = 40

if age > 18:
    print('You are in category A')

You are in category A

Create an __IF statement__ to see if the person’s age is equal to 16 or over. 
<br>
Display 'You are in category B'

In [59]:
age = 40

if age > 16:
    print('You are in category B')

You are in category B

Create an __IF statement__ to see if the person is under 16 years of age. 
<br>
Display 'You are in category C'

In [61]:
age = 40

if age < 16:
    print('You are in category C')

Go back and run the first bit of the code and enter 19 for age

As you see, there are too many confusing messages!
<br>
Simple IF statements work fine, but not in a chain of IF statements such asthese. For chain, we need to use an __if…elif__ statement. 

Create an __if…elif__ statement to examine the age in one statement. Follow this
pattern:

if person is 18 and over:
<br>
&emsp;display message
<br>
elif person is 16 and over:
<br>
&emsp;display message
<br>
else:
<br>
&emsp;display message

__Note:__ You must start with the highest age value first.

Save and rerun your code using different values for age.

In [62]:
age = 19

if age > 18:
    print('You are in category A')
elif age > 16:
    print('You are in category B')
else:
    print('You are in category C')

You are in category A

### Part 7 - While Loops

The syntax of a while loop in Python programming language is −

while expression:
<br>
&emsp;statement(s)

Create a variable with the value 1.

In [63]:
value = 1

Write a while loop that starts at 1 and ends at 100. Within the while loop calculate and display each number and its square. End the loop if that square is bigger than 2000.

In [67]:
i = 1
while i < 100:
    square = i ** 2
    if square > 2000:
        break
    print(square)
    i+=1

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936

#### Factorial

Ask the user to input an integer

Display the number's factorial using a while loop.

__Note:__ the factorial of a number is that number multiplied by all the preceding numbers.

The factorial of 5 is = 5 x 4 x 3 x 2 x 1 = 120
<br>
Or, if you like = 1 x 2 x 3 x 4 x 5

In [69]:
number = int(input('Which number do you want the factorial of? '))
current = 1
result = 1

while current <= number:
    result *= current
    current += 1
print(result)

Which number do you want the factorial of?  5

120

#### Investment

Calculates how many years it will take an initial investment of £100 to grow to a target value of £1000 if the interest rate is 10%.

__Tip:__ Don’t start writing code until you've got a plan of action!

To make your calculation more usable by inputting the following values:
- Initial investment
- Target value
- Interest rate

In [ ]:
start = float(input("Initial investment: "))
target = float(input("Target value: "))
interest = int(input("Interest rate [%]: "))/100

In [ ]:
year = 0
current = start
while current < target:
    year += 1
    current *= (1+interest)
    print("year",year,"value",round(current,2))

### Part 8: For Loops

#### Average

Create a list of numbers and compute their average.

In [ ]:
L = [1,5,3,8,4,7,9,2]

sum = 0
for n in L:
    sum += n
average = sum / len(L)
average

#### Factorial

Ask the user to unput an integer

In [ ]:
number = int(input("Enter a positive integer: "))

Display the number's factorial using a for loop.

__Note:__ the factorial of a number is that number multiplied by all the preceding numbers.

The factorial of 5 is = 5 x 4 x 3 x 2 x 1 = 120
<br>
Or, if you like = 1 x 2 x 3 x 4 x 5

In [ ]:
factorial = 1
for counter in range(1,(number+1)):
    factorial *= counter
print(factorial)

#### Combinations

You are given a list of sizes and a list of garments. Display all combinations of a size and a garment (you will need more than one for loop for this!).

sizes = ['Large', 'Medium', 'Small']
garments = ['Shirt', 'Jacket', 'Trousers']

In [ ]:
sizes = ['Large', 'Medium', 'Small']
garments = ['Shirt', 'Jacket', 'Trousers']

for i in sizes:
    for j in garments:
        print(i,j)

### Part 9: Functions

Write a function that takes a string as an argument and returns the number of capital letters in the string.

Hint: `'foo'.upper()` returns `'FOO'`.


<a id='pyess-ex4'></a>

In [70]:
def make_upper(text: str) -> None:
    return text.upper()

Write a function that takes two sequences `seq_a` and `seq_b` as arguments and
returns `True` if every element in `seq_a` is also an element of `seq_b`, else
`False`.

- By “sequence” we mean a list, a tuple or a string.  
- Do the exercise without using [sets](https://docs.python.org/3/tutorial/datastructures.html#sets) and set methods.  



<a id='pyess-ex5'></a>

In [82]:
def seq_check(seq_a, seq_b):
    return all([seq_a_element in seq_b for seq_a_element in seq_a])

### Part 10: File Handling

Read file data.txt

In [ ]:
data = open('data.txt', 'r').read().split('\n')
print(data)

Calculate the sum, minimum, maximum and the average of the values in the file

In [ ]:
# the list contains strings and we need the corresponding numbers
for i in range(0,len(data)):
    data[i] = int(data[i])

In [ ]:
# initialise the variables
var_sum = 0
var_min = data[0]
var_max = data[0]
var_avg = 0

In [ ]:
  # loop through the values
for x in data:
    var_sum += x
    if x < var_min:
        var_min = x
    if x > var_max:
        var_max = x
var_avg = var_sum / len(data)

Output the results to a newly created file

In [ ]:
f = open('output.txt', 'w')

print('Total sum:', var_sum)
print('Min:', var_min)
print('Max', var_max)
print('Average', var_avg)

f.write('Total sum: ' + str(var_sum) + '\n')
f.write('Min: ' + str(var_min) + '\n')
f.write('Max: ' + str(var_max) + '\n')
f.write('Average: ' + str(var_avg) + '\n')

Close the file

In [ ]:
f.close()

#### Append output file

Adults only !
Ask a customer their age. If they are at least 18 years old, print "Welcome", otherwise print "Please come back in X years", where X is the remaining time until they turn 18.

In addition to the screen output, send the output to a text file, adding every response to the file.

In [ ]:
# open the file for writing (appending)
a = open('age_output.txt', 'a')

In [ ]:
age_limit = 18
age = int(input('Please enter your age: '))

if (age >= 18):
    # print to the screen
    print('Welcome')
    # output into the file
    a.write('Age: ' + str(age) + ' :: ')
    a.write('Welcome\n')
else:
    # print to the screen
    print('Please come back in '+ str(age_limit-age) + ' years')
    # output into the file
    a.write('Age: ' + str(age) + ' :: ')
    a.write('Please come back in '+ str(age_limit-age) + ' years\n')

In [ ]:
# close the file
a.close()

### Extension Activities

### Exercise 1

Using [list comprehension syntax](https://docs.python.org/3/tutorial/datastructures.html#list-comprehensions), we can simplify the loop in the following code.

In [87]:
import numpy as np

n = 100
ϵ_values = []
for i in range(n):
    e = np.random.randn()
    ϵ_values.append(e)
ϵ_values

[0.27828888332504204,
 -0.7933657391899116,
 0.1539684557325097,
 0.8586083920047639,
 -0.6444324471418087,
 1.1300815460143672,
 1.2211910159360624,
 -1.0529217258568713,
 -0.8149690971057039,
 0.16383147452139743,
 0.7314753629757635,
 1.295937341948572,
 1.4156416449687805,
 0.15098831871282611,
 -0.38763434603580466,
 -0.33104443134556544,
 0.982233707528809,
 0.053758442736410096,
 0.1531094920725476,
 -1.0822211748588801,
 1.4354370282876914,
 0.10989894295029312,
 0.568259792296115,
 0.9573678163931965,
 -1.4108373209509446,
 -0.18692634846362116,
 0.11791437798697155,
 0.6985463454118369,
 0.7334898385733705,
 2.2192108106512833,
 0.5527130490803654,
 -0.6027734676314518,
 -0.7022084951901887,
 -0.8278848265545402,
 -1.1714675486914896,
 0.36692008440489826,
 -0.0468380875570374,
 1.491404733561571,
 1.3203986250606843,
 2.124859664317803,
 0.07010300676991198,
 -1.6661812536982636,
 -0.9834823255738383,
 -0.703958654975876,
 0.23726947639728133,
 -0.3007487906789465,
 0.3405365422769056,
 0.8392930716022217,
 -0.5768706272975759,
 2.861588123191872,
 1.725953519416856,
 0.9415382627776019,
 0.12766540046800695,
 0.5167221908200818,
 -0.38043397796044864,
 -0.3305050690944282,
 -1.1011204029949473,
 0.7869806900182744,
 0.39870374774679485,
 -1.0892939040502843,
 0.3242776174490737,
 0.626472942543285,
 -0.645594798635625,
 -1.779776479289268,
 -0.2397005725778521,
 0.7291074234978167,
 2.757299665477874,
 0.25167168201925233,
 -1.051537065511633,
 -0.3706609930367983,
 -0.31460240939126405,
 -0.6027003959637575,
 -0.8704605746843773,
 -1.4565997023938917,
 0.5405032087631032,
 -0.16522837560461212,
 -1.0151558625310755,
 -1.4585857963992435,
 -3.0153150114004053,
 2.787563231815646,
 -0.0851377969443333,
 -0.4243396444453333,
 -0.38738938733451567,
 -0.16572570490151092,
 -0.5747845366365085,
 0.2364275226439044,
 0.45917706242680856,
 0.9701150351670307,
 -2.72945702155452,
 -0.613372628761018,
 -1.3179148315872842,
 -0.6999813993414528,
 0.8168269149382085,
 0.031496493852921685,
 1.006542415148166,
 1.9618196009265303,
 1.4979697087865622,
 -1.1385976606968744,
 0.9273796007992665,
 1.1063826322767547]

In [88]:
[np.random.randn() for _ in range(100)]

[1.2529333181653766,
 -0.8391962462571693,
 0.23096716742932186,
 -0.7045865164388952,
 -1.7968083553685248,
 0.19961808616758148,
 -0.8665654448522339,
 0.6656667076509961,
 1.0924431861627795,
 -0.6719693002176186,
 0.9462510619693171,
 -1.0160473062530293,
 0.9756590520121982,
 0.11791809352671466,
 1.2448751263783298,
 -2.058426828696154,
 0.22253364044993065,
 -0.8102950343459606,
 -0.3915116291414467,
 -0.45990642895445727,
 -0.7250026875638161,
 0.4078892341988933,
 1.3898854019444729,
 0.3070584982116251,
 -0.503729122336708,
 -0.861133150174847,
 0.06972470667809595,
 -3.063454274498932,
 0.6982158663916754,
 -1.3197606553153902,
 -0.5165691233447458,
 0.21191576990971345,
 0.6404872713040421,
 0.8060090528967341,
 -0.6001363367365176,
 -0.19987113739990556,
 0.2752737573201331,
 0.3715424594051442,
 2.0785838274056356,
 0.05750109015903417,
 -0.947031374787342,
 -0.10664420654981577,
 1.1496611813089643,
 0.4347038470796761,
 0.9664197297240223,
 -0.2192521510016756,
 -1.027510706161303,
 1.766422606225024,
 -1.3140894313921276,
 0.8549091513081837,
 -1.1330918387497857,
 0.9888607578397076,
 0.924482188582472,
 1.8594183873043761,
 -0.24345614892007766,
 0.14915185802097242,
 -0.15428532665065198,
 -1.3275686617018019,
 -0.259817054336628,
 0.29999377228917967,
 0.8483104427791643,
 -0.3579312364924496,
 0.3274919378629705,
 0.7946851249942888,
 1.70008881470949,
 -1.3585744494549596,
 0.7081302916614876,
 -0.19816172921517106,
 -0.32142215883376796,
 -1.1475215536482875,
 2.1936278626008026,
 0.003348752771460812,
 -1.450430076424399,
 0.2793006276438488,
 -0.4627216667829972,
 -1.1847848069625113,
 0.017536694569258347,
 0.6113592216224284,
 -0.7717312681832421,
 1.7143556026262854,
 0.19899814850822983,
 0.002956714506882295,
 -0.7122127883119882,
 0.6469208233033819,
 0.7364545743256825,
 -1.8168777812340506,
 0.6017772745865395,
 -0.8805011355885402,
 0.45894275561196224,
 -2.1093770686444486,
 0.09779093422068379,
 0.12602704920310953,
 -0.0980678983017996,
 0.7767662494347334,
 -0.9902212584779881,
 0.013846324697220826,
 1.1897805125972305,
 -1.1771139732918283,
 -1.0564818158543612,
 1.0054082585594026]

### Exercise 2

Using the dictionary `christmas_sequence` print out each verse of the [The Twelve Days of Christmas](https://en.wikipedia.org/wiki/The_Twelve_Days_of_Christmas_(song)).

For example, the third verse will be:
_On the third day of Christmas my true love sent to me three french hens, two turtle doves and a partridge in a pear tree._

Hint: You will probably need nested loops.

In [89]:
christmas_sequence = {"first": "a partridge in a pear tree",
                      "second": "two turtle doves",
                      "third": "three french hens",
                      "fourth": "four calling birds",
                      "fith": "five gold rings",
                      "sixth": "six geese a-laying",
                      "seventh": "seven swans a-swimming",
                      "eigth": "eight maids a-milking",
                      "nineth": "nine ladies dancing",
                      "thenth": "ten lords a-leaping",
                      "eleventh": "eleven pipers piping",
                      "twelth": "twelve drummers drumming"}

### Exercise 3

The function ``dir`` allows you to look at the methods and attributes associated with a python object. Pick one or more of the objects we have looked at:

- There are two main types of methods and attributes returned. What are they? What is the value in this approach?

In [ ]:
dir(1)

### Exercise 4

As you might have realised, variables are accesible between code cells. They are in the same _namespace_. We can look at what is in that namespace using the ``globals`` and ``locals`` functions.

- What are the datatypes of the ``globals`` and ``locals`` function outputs?
- There are lots of variables listed besides the ones you have created. Many of these are specific to this interface. Can you identify their purpose?