# Exercise 6: Data Cleaning 
1. **Inspecting the columns of the DataFrame:**
   We'll use the `info()` method to get an overview of the DataFrame's columns, their data types, and the number of non-null values in each column.

```python
df.info()
```

2. **Inspecting rows with bad values in the price column:**
   We can filter the DataFrame to show only the rows where the price column has the value 'price'.

```python
bad_price_rows = df[df['price'] == 'price']
print(bad_price_rows)
```

3. **Dropping rows with accidental column names:**
   If the column names have been fed into the data in intervals, we'll need to identify these rows and drop them.

```python
# Assuming the DataFrame is named df
df = df[df['company'] != 'company']
```

4. **Converting price column to the appropriate type:**
   We'll convert the price column to a numeric data type, such as float.

```python
df['price'] = pd.to_numeric(df['price'], errors='coerce')
```

Since the 'price' column should contain numerical values, we should check for rows where the 'price' column contains non-numeric values. Let's adjust the approach for step 2 accordingly:

```python
import pandas as pd

# Step 2 adaptation: Inspect rows with bad values in the price column
bad_price_rows = df[~df['price'].astype(str).str.isnumeric()]
print(bad_price_rows)

```

This adjusted code will identify rows where the 'price' column contains non-numeric values and proceed accordingly.

# On pd.to_numeric()
The `pd.to_numeric()` function in pandas is used to convert a column of a DataFrame into numeric format. It can handle various types of input data and convert them into numeric types like integer or float. Here's an explanation of the parameters, including the `errors` parameter:

- **`errors`**: This parameter specifies how errors should be handled. It accepts three possible values:
  - `'raise'` (default): If any error occurs during conversion, it raises an exception.
  - `'coerce'`: If any error occurs, it returns `NaN` (Not a Number) for that particular value.
  - `'ignore'`: It simply ignores errors and leaves the original values unchanged.

Here's how the `errors` parameter affects the conversion process:

- **`errors='raise'`**: This setting is the default behavior. If any value cannot be converted to a numeric type, it raises an error, stopping the conversion process. This is useful when you want to ensure that all values are successfully converted and want to be notified if there are any issues.

- **`errors='coerce'`**: This setting is useful when you want to convert the column to numeric type but are okay with missing values (`NaN`) for those entries that cannot be converted. It replaces the problematic values with `NaN`, allowing the conversion process to continue for the rest of the data.

- **`errors='ignore'`**: This setting is useful when you want to convert as many values as possible to numeric type without raising any errors. It simply skips the problematic values and leaves them unchanged in the resulting output.

Here's an example of how you might use `pd.to_numeric()` with different error handling:

```python
import pandas as pd

# Sample data
data = {'numeric_column': ['1', '2', '3', 'four', '5']}

# Create a DataFrame
df = pd.DataFrame(data)

# Convert 'numeric_column' to numeric, coercing errors
df['numeric_column'] = pd.to_numeric(df['numeric_column'], errors='coerce')

print(df)
```

Output:
```
   numeric_column
0             1.0
1             2.0
2             3.0
3             NaN
4             5.0
```

In this example, the string 'four' couldn't be converted to a numeric type. With `errors='coerce'`, it replaced 'four' with `NaN`, allowing the conversion to proceed for the other values.

# Missing values

1. To identify missing values in the DataFrame, you can use the `isnull()` method along with the `sum()` method to count the missing values in each column.
2. You can then identify which columns contain missing values by looking at the counts obtained in step 1.
3. Inspecting rows containing missing values can be done using the `head()` method to display the first few rows or using boolean indexing to filter rows with missing values.
4. Dropping rows with missing values across specific columns can be achieved using the `dropna()` method with the `subset` parameter specifying the columns to consider.
5. The code `df[['vehicle_class', 'fare', 'price']].groupby(['vehicle_class', 'fare']).mean()` calculates the mean price for each combination of vehicle class and fare.
6. Filling missing price values with the mean of all prices can be done using the `fillna()` method.
7. Finally, you can check if all NaN values have been removed by again using the `isnull()` method and `sum()` method to count missing values.

Let's implement these steps:

```python
# Step 1: Identify missing values
missing_values = df.isnull().sum()

# Step 2: Identify columns with missing values
columns_with_missing_values = missing_values[missing_values > 0].index.tolist()

# Step 3: Inspect rows with missing values
rows_with_missing_values = df[df.isnull().any(axis=1)]

# Step 4: Drop rows with missing values across specific columns
df_cleaned = df.dropna(subset=['vehicle_class', 'price', 'fare'])

# Step 5: Analyze ticket price with respect to vehicle_class and fare
price_analysis = df_cleaned[['vehicle_class', 'fare', 'price']].groupby(['vehicle_class', 'fare']).mean()

# Step 6: Fill missing price values with the mean of all prices
mean_price = df_cleaned['price'].mean()
df_cleaned['price'] = df_cleaned['price'].fillna(mean_price)

# Step 7: Check for remaining missing values
remaining_missing_values = df_cleaned.isnull().sum()

# Display results
print("Step 1: Missing Values\n", missing_values)
print("\nStep 2: Columns with Missing Values\n", columns_with_missing_values)
print("\nStep 3: Rows with Missing Values\n", rows_with_missing_values)
print("\nStep 4: Cleaned DataFrame (Rows with Missing Values Dropped)\n", df_cleaned)
print("\nStep 5: Price Analysis\n", price_analysis)
print("\nStep 6: Missing Values after Filling\n", remaining_missing_values)
```

This code will provide you with the necessary insights and actions to handle missing values in your DataFrame.

In [11]:
import pandas as pd
import numpy as np

df=pd.read_csv("slide_data/renfe_trains.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85948 entries, 0 to 85947
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   company        85948 non-null  object
 1   origin         85948 non-null  object
 2   destination    85948 non-null  object
 3   departure      85948 non-null  object
 4   arrival        85948 non-null  object
 5   vehicle_class  77116 non-null  object
 6   price          72769 non-null  object
 7   fare           77116 non-null  object
dtypes: object(8)
memory usage: 5.2+ MB

In [12]:
df['price'].value_counts()

price
price    3875
76.3     3794
85.1     3615
107.7    2845
53.4     2719
         ...
98.01       1
98.2        1
69.05       1
19.75       1
61.15       1
Name: count, Length: 389, dtype: int64

Seems like there is some bad values in the price column with the value 'price'. Lets inspect the rows where this is the case.

In [13]:
df[df['price']=='price']

,company,origin,destination,departure,arrival,vehicle_class,price,fare
69,company,origin,destination,departure,arrival,vehicle_class,price,fare
146,company,origin,destination,departure,arrival,vehicle_class,price,fare
209,company,origin,destination,departure,arrival,vehicle_class,price,fare
287,company,origin,destination,departure,arrival,vehicle_class,price,fare
347,company,origin,destination,departure,arrival,vehicle_class,price,fare
...,...,...,...,...,...,...,...,...
85903,company,origin,destination,departure,arrival,vehicle_class,price,fare
85908,company,origin,destination,departure,arrival,vehicle_class,price,fare
85921,company,origin,destination,departure,arrival,vehicle_class,price,fare
85934,company,origin,destination,departure,arrival,vehicle_class,price,fare
85942,company,origin,destination,departure,arrival,vehicle_class,price,fare

It looks like some sort of error has meant the column names have been fed into the data in intervals. Let's drop these rows as they are clearly an accident.

In [14]:
df = df[df['price'] != 'price']

In [8]:
df['price'].value_counts()

price
76.3     3794
85.1     3615
107.7    2845
53.4     2719
60.3     2544
         ...
49.67       1
166.6       1
69.39       1
55.85       1
61.15       1
Name: count, Length: 388, dtype: int64

We can now represent price as having the appropriate type. Convert it so that it does.

In [15]:
df['price'] = df['price'].astype(np.float32)

In [2]:
# Step 1: Identify missing values
import pandas as pd

df=pd.read_csv("slide_data/renfe_trains.csv")
missing_values = df.isnull().sum()
print(missing_values)

company              0
origin               0
destination          0
departure            0
arrival              0
vehicle_class     8832
price            13179
fare              8832
dtype: int64

In the line `missing_values = df.isnull().sum()`, several operations are happening:

1. `df.isnull()` generates a DataFrame of the same shape as `df` where each cell contains a boolean value indicating whether the corresponding cell in `df` is null (missing) or not.
2. `.sum()` is then called on this boolean DataFrame. This operation sums up the boolean values along each column axis, effectively counting the number of missing values in each column.
3. The result is a pandas Series where the index represents the column names of the DataFrame `df`, and the values represent the count of missing values in each column.
4. Finally, this Series is assigned to the variable `missing_values`.

So, `missing_values` is a pandas Series containing the count of missing values in each column of the DataFrame `df`. The index of the Series corresponds to the column names, and the values represent the number of missing values in each column.

In [10]:
# Step 2: Identify columns with missing values
columns_with_missing_values = missing_values[missing_values > 0].index.tolist()
print(columns_with_missing_values)

['vehicle_class', 'price', 'fare']

Let's break down the code `columns_with_missing_values = missing_values[missing_values > 0].index.tolist()` step by step:

1. `missing_values[missing_values > 0]`: This part selects only those entries from the `missing_values` Series where the count of missing values is greater than 0. In other words, it filters out columns that have at least one missing value. This operation returns a new Series containing only those entries where missing values are present, along with their corresponding counts.

2. `.index`: This part accesses the index of the filtered Series obtained in the previous step. Since we filtered out columns with missing values, the index now represents the column names that have missing values.

3. `.tolist()`: Finally, the `.tolist()` method is used to convert the index of the filtered Series into a Python list. This list contains the names of columns that have missing values.

So, `columns_with_missing_values` is a Python list containing the names of columns from the DataFrame `df` that have missing values. This list is obtained by filtering the `missing_values` Series to include only those columns with counts of missing values greater than 0, and then extracting their column names.

In [14]:
# Step 3: Inspect rows with missing values
rows_with_missing_values = df[df.isnull().any(axis=1)]
print(rows_with_missing_values)

      company  origin destination            departure              arrival  \
11      renfe  MADRID   BARCELONA  2019-05-03 18:30:00  2019-05-03 21:20:00
15      renfe  MADRID   BARCELONA  2019-04-23 07:30:00  2019-04-23 10:40:00
33      renfe  MADRID     SEVILLA  2019-04-21 21:25:00  2019-04-22 00:10:00
52      renfe  MADRID     SEVILLA  2019-04-17 09:45:00  2019-04-17 12:27:00
65      renfe  MADRID     SEVILLA  2019-05-03 13:30:00  2019-05-03 16:05:00
...       ...     ...         ...                  ...                  ...
85847   renfe  MADRID     SEVILLA  2020-11-22 09:00:00  2020-11-22 11:37:48
85850   renfe  MADRID     SEVILLA  2020-10-13 11:22:00  2020-10-13 16:05:12
85854   renfe  MADRID   BARCELONA  2020-11-06 10:30:00  2020-11-06 13:15:00
85866   renfe  MADRID     SEVILLA  2020-12-04 12:00:00  2020-12-04 14:31:48
85871   renfe  MADRID     SEVILLA  2020-10-13 11:22:00  2020-10-13 16:05:12

      vehicle_class price      fare
11       Preferente   NaN     Promo
15          Turista   NaN     Promo
33              NaN   NaN       NaN
52          Turista   NaN  Flexible
65          Turista   NaN     Promo
...             ...   ...       ...
85847           NaN   NaN       NaN
85850           NaN   NaN       NaN
85854           NaN   NaN       NaN
85866           NaN   NaN       NaN
85871           NaN   NaN       NaN

[13179 rows x 8 columns]

### 3 in depth
Let's delve into step 3, which is `rows_with_missing_values = df[df.isnull().any(axis=1)]`, and break it down:

1. `df.isnull()`: This part creates a DataFrame of the same shape as `df` (the original DataFrame) where each entry is either True or False depending on whether the corresponding entry in `df` is null (missing) or not null (not missing).

2. `.any(axis=1)`: This part applies the `.any()` method along axis 1, which corresponds to rows. It checks each row of the DataFrame obtained in step 1 and returns True if any of the entries in that row is True (indicating a missing value), and False otherwise. So, for each row, it returns True if there's at least one missing value in that row, and False if there are no missing values in that row.

3. `df[...]`: This part uses boolean indexing to select rows from the original DataFrame `df`. It selects rows where the condition specified inside the square brackets is True. In this case, the condition is the result of `df.isnull().any(axis=1)`, which identifies rows that contain at least one missing value.

Putting it all together, `rows_with_missing_values` is a DataFrame containing only the rows from the original DataFrame `df` that have at least one missing value. This step effectively filters the DataFrame to retain only those rows with missing values.

In [17]:
# Step 4: Drop rows with missing values across specific columns
df_cleaned = df.dropna(subset=['vehicle_class', 'price', 'fare'])

print(df_cleaned)

      company  origin destination            departure              arrival  \
0       renfe  MADRID     SEVILLA  2019-05-07 19:00:00  2019-05-07 21:38:00
1       renfe  MADRID     SEVILLA  2019-05-07 21:25:00  2019-05-08 00:10:00
2       renfe  MADRID   BARCELONA  2019-05-11 08:30:00  2019-05-11 11:15:00
3       renfe  MADRID   BARCELONA  2019-04-18 14:30:00  2019-04-18 17:21:00
4       renfe  MADRID   BARCELONA  2019-04-28 16:30:00  2019-04-28 19:15:00
...       ...     ...         ...                  ...                  ...
85943   renfe  MADRID   BARCELONA  2020-10-20 08:00:00  2020-10-20 10:30:00
85944   renfe  MADRID   BARCELONA  2020-10-27 09:30:00  2020-10-27 12:34:12
85945   renfe  MADRID   BARCELONA  2020-10-23 07:30:00  2020-10-23 10:40:12
85946   renfe  MADRID   BARCELONA  2020-10-08 07:40:00  2020-10-08 13:55:00
85947   renfe  MADRID   BARCELONA  2020-11-08 16:30:00  2020-11-08 19:15:00

            vehicle_class  price      fare
0              Preferente   69.4     Promo
1                 Turista  43.55     Promo
2                 Turista   85.1     Promo
3                 Turista  107.7  Flexible
4                 Turista  107.7  Flexible
...                   ...    ...       ...
85943             Turista  55.25   Promo +
85944             Turista  55.55   Promo +
85945             Turista  46.85   Promo +
85946  Turista con enlace   96.7  Flexible
85947             Turista  108.9  Flexible

[72769 rows x 8 columns]

### Step 4 in depth

Step 4 involves dropping rows from the DataFrame `df` where there are missing values across specific columns, namely 'vehicle_class', 'price', and 'fare'. Let's break down this step in detail:

1. `df.dropna(subset=['vehicle_class', 'price', 'fare'])`: This method drops rows from the DataFrame `df` where there are missing values (NaN) in any of the specified columns. The `subset` parameter specifies the columns to consider when determining if a row should be dropped. In this case, it specifies 'vehicle_class', 'price', and 'fare'.

2. The `dropna()` method, when used with the `subset` parameter, drops rows only if there are missing values in the specified subset of columns. If any of the columns specified in the `subset` parameter have missing values for a particular row, that row will be removed from the DataFrame.

3. The result of this operation is assigned to a new DataFrame named `df_cleaned`, which now contains only the rows from the original DataFrame `df` that do not have any missing values in the specified columns ('vehicle_class', 'price', and 'fare').

In summary, Step 4 ensures that `df_cleaned` contains only those rows from the original DataFrame `df` that have non-missing values in the specified columns, effectively removing rows with missing values in any of these columns.

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85948 entries, 0 to 85947
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   company        85948 non-null  object
 1   origin         85948 non-null  object
 2   destination    85948 non-null  object
 3   departure      85948 non-null  object
 4   arrival        85948 non-null  object
 5   vehicle_class  77116 non-null  object
 6   price          72769 non-null  object
 7   fare           77116 non-null  object
dtypes: object(8)
memory usage: 5.2+ MB

In [1]:
df['price'].value_counts()

NameError: name 'df' is not defined

In [23]:
# Step 5: Analyze ticket price with respect to vehicle_class and fare

df[['vehicle_class', 'fare', 'price']].groupby(['vehicle_class', 'fare']).mean()
price_analysis = df_cleaned[['vehicle_class', 'fare', 'price']].groupby(['vehicle_class', 'fare']).mean()
print(price_analysis)

TypeError: agg function failed [how->mean,dtype->object]